div.Footer li.list-inline-item{
	margin-right: 30px;
	font-weight: 500;
	text-decoration: underline solid #337ab7;
}

div.Footer a:active, div.Footer a:link, div.Footer a:visited{
	text-decoration: underline solid #337ab7;
}

div.container-feature{
	margin: 0px 300px;
}

div.container-feature {
	padding: 0px;
}
