div.masonry{
	margin: 0;
	padding: 0px;
}

div.container-masonry{
	padding: 0px;
}

nav#pagination{
  text-align: center;
}

nav#pagination ul{
  display: inline-block;
}

img.img-item{
	top: 0px;
	left: 0px;
	width: 280px;
	height: auto;
	padding: 20px 30px;
	padding-left: 0px;
	margin-top: 5px;
	margin-right: 0px;
}

div.editor-item .glyphicon-heart{
	font-size: 25px;
	display: none; 
	position: absolute;
	top: 35px;
	left: 10px;
}

div.editor-item:hover .glyphicon-heart{
	display: block;
	text-decoration: none;
}

.glyphicon-heart:hover{
	color: red;
}

div.img-tags{
	position: absolute;
	top: 35px;
	right: 40px;
	display: none;
}

div.editor-item:hover div.img-tags{
	display: block;
}

div.img-tags ul{
	list-style: none;
}

div.img-tags li{
	display: inline;
	margin-left: 5px;
	background-color: #eee;
	font-size: 14px;
	padding: 4px;
	border-radius: 3px;
}

div.img-tags a:hover{
	text-decoration: none;
}