div.PersonBox{
	background-color: white;
	box-shadow: 0px 0px 1px grey, 0px 0px 1px grey, 0px 0px 1px grey;
	border-radius: 5px;
	padding: 5px;
	padding-bottom: 2px;
	padding-left: 10px;
}

div.PersonBox a, div.PersonBox p{
	font-size: 15px;
}

div.PersonBox p{
	color: grey;
}

div.PersonBox h3{
	color: grey;
	font-size: 18px;
	margin-top: 2px;
}