.success-template {padding: 40px 15px;text-align: center; padding-top: 150px; margin-bottom: 200px;}
.success-actions {margin-top:15px;margin-bottom:15px;}
.success-actions .btn { margin-right:10px; margin-top: 50px;}
span.glyphicon { margin-right: 10px; }
