div.masonry{
	margin: 0;
}

div.container-masonry{
	padding: 0px;
}

nav#pagination{
  text-align: center;
}

nav#pagination ul{
  display: inline-block;
}

img.img-item{
	width: 330px;
	height: auto;
	padding: 2px 15px;
	padding-left: 0px;
	margin-top: 5px;
}

.glyphicon-heart{
	font-size: 20px;
	display: none; 
}

.fash-item:hover .glyphicon-heart{
	display: block;
}

.glyphicon-heart:hover{
	color: red;
}