@font-face{
  font-family: Couture;
  src: url("../fonts/couture-bld.otf") format("opentype");
  font-weight: 200;
}
/*
a.navbar-brand{
	font-family: Couture;
}

ul.navbar-nav{
	font-family: Couture;
}
*/
nav.navbar{
	padding: .4% 3%;
}

a.navbar-brand{
	font-size: 30px;
}

a.navbar-brand sub{
	font-size: 22px;
	margin-left: 5px;
}

nav.navbar button{
	font-size: 19px;
}

.nav-link-right:hover{
	text-decoration: underline;
}

.no-button{
	border: none;
	background: none;
}

.link-fade{
	transition: opactity 0.5s;
}