div.Submit{
	margin-top: 100px;
}

.tag-input{
	margin-top: 10px;
}

.enteredTags{
	background-color: #ededed;
	padding: 5px;
	border-radius: 3px;
	font-size: 18px;
}

.removeTag{
	margin-left: 5px;
}